.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
  }
  
  .header input {
    width: 300px;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(53, 45, 45);
    color:white
  }
  
  .header-icons {
    display: flex;
    align-items: center;
    gap: 5%;
    margin: 0 5%;
    font-size: 25px;

    }
  
  .header-icons span {
    margin-left: 1rem;
    /* border:none;
    background-color: grey;
    border-radius: 24px;
    padding: 5%; */
    cursor: pointer;
  }
  